<div *ngIf="loader1"><app-loader></app-loader></div>
<div *ngIf="!loader1"><app-topbar></app-topbar></div>
<div *ngIf="!loader1" class="title text-center">
  <div class="col-md-7 ml-auto mr-auto">
    <h1>Instagram user's profile photo search</h1>
    <p>Look for Instagram users profile photo in full HD</p>
    <div class="col-10 ml-auto mr-auto">
      <input id="piczoom" placeholder="Type username and press enter" type="text" class="form-control" aria-describedby="basic-addon1" (keyup.enter)="userList($event)">
    </div>
  </div>
</div>
<br>
<br>

<div *ngIf="!loader1" class="container">

  <div class="row" *ngIf="loader">
    <div class="col-md-12 text-center">
      <app-loader></app-loader>
    </div>
  </div>

  <div *ngIf="notFound">
    <div class="container">
      <div class="col-md-12 outer-col-12">
        <h1 class="text-center">No results found</h1>
        <app-editor-list></app-editor-list>
      </div>
    </div>
  </div>

  <div class="row clearfix" style="padding: 0 15px;" *ngIf="!img && users && !loader && !notFound">
    <div *ngFor="let item of users; let i = index" class="col-md-6">
      <div class="border-bottom">
        <a class="row" style="padding: 10px 0" (click)="searchUser(item.user.username)">
          <span class="col-md-2 col-3">
            <img src="{{item.user.profile_pic_url}}" alt="kateupton" width="45" height="45" style="border-radius: 50%;background: #f4f5f7;border: 1px solid #f4f5f7;transition: all .3s;">
          </span>
          <div class="col-md-10 col-9">
            <div>
              {{item.user.full_name}}
            </div>
            <span class="font-14">@{{item.user.username}}</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="img && !loader">
    <div class="col-md-12 text-center">
      <img src="{{this.img}}" alt="user_pic">
    </div>
  </div>
  <div class="d-none initial-image"></div>
</div>
