<div class="card common-card editor-card" style="border: none; background: transparent;">
  <div class="card-body main-card-body">
    <div class="col" *ngIf="list">

      <div class="top-section">
          <div class="row">
              <div class="col-10">
                  <div class="top-left">
                      <h4><span class="section-title-emoji">✨</span> Editor's List</h4>
                  </div>
              </div>
              <div class="col-2">
                  <div class="top-right">
                      <a class="btn-more" routerLink="collection-list">more</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="bottom-section">
          <div class="row editor-list text-center">
              <div *ngFor="let item of list; let i = index" class="col-md-2 col-4">
              <div class="editor-list-inner">
                  <a class="no-underline" routerLink="/collection/{{item.id}}">
                      <div *ngIf="i < 12" class="card">
                          <div class="card-body inner-card-body">
                              <div class="card-title">
                                  <img src="https://phpstack-469914-1474997.cloudwaysapps.com/assets/images/{{item.image}}" alt="icon" style="border-color: {{color[i]}}">
                              </div>
                              <h6 style="color: {{color[i]}};white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</h6>
                          </div>
                      </div>
                  </a>
              </div>
           </div>
        </div>
      </div>

    </div>
  </div>
</div>
