/*img
{
  border-radius: 50%;
}
.col-md-2
{
  margin-top: 30px;
}
a h6
{
  *//*color: blue;*//*
  font-weight: 400;
  margin: 0;
}*/
/*a h6:hover*/
/*{*/
  /*color: white;*/
/*}*/
/*a
{
  border-color: #0057ff1a;
  border-radius: 30px;
  background: white;
}
.btn
{
  color: #ff1744 !important;
  background: #fff !important;
  border-color: rgba(255,23,68,.1);
  text-transform: capitalize;
}
.btn:hover
{
  color: #d50000 !important;
  background: #fff !important;
  border-color: rgba(213,0,0,.2);
}
.no-underline:hover
{
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .main-card-body
  {
    padding: 0;
  }
  .inner-card-body
  {
    padding: 10px;
  }
}*/
