ul li a
{
  color: black !important;
}
#id02:hover
{
  cursor: pointer;
}
.navbar-brand{
  font-weight: 700;
}
.zoomIcon {
  display: inline-block;
  width:18px;
}
.userIcon {
  display: inline-block;
  width:20px;
}
.homeIcon {
  display: inline-block;
  width:18px;
  position: relative;
  bottom: 1px;
}