<div class="col-md-12">
  <nav class="navbar navbar-expand-md navbar-light bg-light" style="background: transparent !important; color: black !important;">
    <a class="navbar-brand" routerLink="/">GramLens</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="id01" routerLink="/"><span class="homeIcon"><fa-icon [icon]="faHome"></fa-icon></span> Home</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" id="id02" (click)="focusInputSearch()"><fa-icon [icon]="faSearch"></fa-icon> Search</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" id="id03" href="javascript:void(0)"><fa-icon [icon]="faHome"></fa-icon> Top Ranked</a>-->
<!--        </li>-->
        <li class="nav-item" *ngIf="users">
          <a class="nav-link" id="id04" routerLink="/popular/user"><span class="userIcon"><fa-icon [icon]="faUsers"></fa-icon></span> Top Users</a>
        </li>
        <li class="nav-item" *ngIf="trendingTags">
          <a class="nav-link" id="id06" routerLink="/popular/tag"><span class="userIcon"><fa-icon [icon]="faUsers"></fa-icon></span> Top Tags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="id07" routerLink="/pic-zoom"><span class="zoomIcon"><fa-icon [icon]="faSearchPlus"></fa-icon></span> DP Zoom</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="id08" routerLink="/about"> About</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

