a.active
{
  color: #d50000!important;
}
a
{
  color: #ff1744;
}
.nav-tabs
{
  border-bottom: none;
}
.nav-link
{
  border: none;
  border-bottom: 1px solid #f4f5f7;
}
.nav-link.active
{
  border-bottom: 2px solid #dee2e6;
}
.nav-item
{
  padding: 0 5px;
}
.button-share
{
  border-radius: 32px;
  color: white;
}
.instagram
{
  background-color: #833ab4;
  border-color: #833ab4;
}
.instagram:hover
{
  background-color: #c13584;
  border-color: #c13584;
}
.facebook
{
  background-color: #6283c5;
  border-color: #6283c5;
}
.facebook:hover
{
  background-color: #4267b2;
  border-color: #4267b2;
}
.twitter
{
  background-color: #4db5f5;
  border-color: #4db5f5;
}
.twitter:hover
{
  background-color: #1da1f2;
  border-color: #1da1f2;
}
p
{
  font-size: 14px;
  margin-bottom: 15px;
}
h1
{
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 15px;
}
h2
{
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6
{
  letter-spacing: -.02rem;
}
.tab-pane li
{
  font-size: 14px;
  list-style: circle;
}
@media screen and (max-width: 767px) {
  .nav-item
  {
    width: 100%;
  }
  .card
  {
    height: 420px;
  }
  .card-img-top
  {
    height: 200px;
  }
  .hide-in-xs
  {
    display: none;
  }
}

