<div *ngIf="loader"><app-loader></app-loader></div>
<div *ngIf="!loader"><app-topbar></app-topbar></div>
<div *ngIf="!loader" class="container">
  <div class="col" style="background: white; margin: 15px 0; padding-top: 15px; padding-bottom: 15px;">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let value of aboutContent">
        <a href="javascript:void(0)" class="nav-link {{ tab == value.name ? 'active' : '' }} text-capitalize" data-toggle="tab" (click)="tab = value.name">{{value.name.split('-').join(' ')}}</a>
      </li>
    </ul>
    <div class="tab-content col" style="margin-top: 25px;">
      <div *ngFor="let value of aboutContent" class="tab-pane fade {{ tab == value.name ? 'show active': '' }}">
        <div [innerHTML]="value.content"></div>
        <div *ngIf="value.name == 'remove-content'" class="col-md-5 col-12" style="padding-top: 15px; padding-bottom: 15px; background: #f7f7f7;">
          <form #userForm="ngForm" (submit)="submit(userForm.value)" style="padding-left: 15px; padding-right: 15px;">
            <div *ngIf="done"><b *ngIf="cantSubmit">You already removed 1 Instagram account today. We do not allow to remove more than 1 a day.</b><b *ngIf="!cantSubmit">Successful! Your profile will no longer be displayed. It may take 24 hours (usually less than 1 hour) for the changes to be applied.</b></div>
            <input type="text" class="form-control" placeholder="Your Instagram Username" name="username" [(ngModel)]="username" required>
            <br>
            <button class="btn btn-primary btn-block" type="submit" [disabled]="userForm.form.invalid">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
