<div class="card common-card card-trend-hashtag" style="border: none; background: transparent;">
  <div class="card-body main-card-body">
    <div class="col" *ngIf="trendingTags">

      <div class="top-section">
          <div class="row">
              <div class="col-10">
                  <div class="top-left">
                      <h4># Top HashTags</h4>
                  </div>
              </div>
              <!--ksandfk-->
              <div class="col-2">
                  <div class="top-right">
                      <a class="btn-more" routerLink="/popular/tag">more</a>
                  </div>
              </div>
          </div>
      </div>


      <div class="bottom-section">
          <div class="row hashtags text-center">
              <div *ngFor="let tag of trendingTags;let i = index;">
              <a *ngIf="i < 20" class="btn-more tags-link" routerLink="/tag/{{tag.slug}}">#{{tag.name}}</a>
          </div>

      </div>
      </div>

    </div>
  </div>
</div>

