/*
a h6
{
  font-weight: 400;
  margin: 0;
}
a
{
  border-color: #0057ff1a;
  border-radius: 30px;
  margin: 5px;
}
.btn
{
  color: #ff1744 !important;
  background: #fff !important;
  border-color: rgba(255,23,68,.1);
  text-transform: capitalize;
}
.btn:hover
{
  color: #d50000 !important;
  background: #fff !important;
  border-color: rgba(213,0,0,.2);
}
@media screen and (max-width: 767px) {
  .main-card-body
  {
    padding: 0;
  }
  .inner-card-body
  {
    padding: 10px;
  }
}
*/
