<div *ngIf="loader"><app-loader></app-loader></div>
<div *ngIf="!loader"><app-topbar></app-topbar></div>
<div *ngIf="!loader" class="banner" style="background: white;">
  <div class="col-md-8 mr-auto ml-auto">
    <input [(ngModel)]="input" type="text" placeholder="Search for any {{tab == 'place' ? 'location' : tab}}" (keyup.enter)="testFn()">
    <strong class="clear-search" [ngClass]="input != '' ? 'd-inline' : 'd-none'" (click)="input = ''">×</strong>
  </div>
</div>

<div *ngIf="!loader" class="col" [ngClass]="enterPressed ? 'd-block' : 'd-none'" style="background: white; padding-top: 15px; padding-bottom: 15px; font-size: 13px; border-top: 1px solid #f4f5f7">
  <div class="col-md-10 col-12 mr-auto ml-auto tabs">
    <div class="row text-center">
      <div class="col-md-4 col-4">
        <a [ngClass]="(tab == 'user') ? 'active' : ''" (click)="changeTab($event, 'user')">
          USERS
        </a>
      </div>
      <div class="col-md-4 col-4">
        <a [ngClass]="(tab == 'hashtag') ? 'active' : ''" (click)="changeTab($event, 'hashtag')">
          TAGS
        </a>
      </div>
      <div class="col-md-4 col-4">
        <a [ngClass]="(tab == 'place') ? 'active' : ''" (click)="changeTab($event, 'place')">
          LOCATIONS
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loader" class="col-md-8 mr-auto ml-auto">
  <div class="col-md-10" style="background: white; margin-top: 20px">
    <div *ngIf="!enterPressed; else tabcontent" class="row clearfix" style="padding: 0 15px;">
      <!--<div *ngFor="let item of [].constructor(total); let i = index" class="col-6">-->
        <!--<div class="border-bottom">-->
          <!--<a class="row" href="#" style="padding: 10px 0">-->
            <!--<span class="col-2">-->
              <!--<span style="background: #f4f5f7; color: #adb5bd; width: 45px; height: 45px; display: flex; border-radius: 100%; font-size: 20px; justify-content: center; align-items: center; font-weight: 500;">-->
                <!--<fa-icon [icon]="faLocationArrow"></fa-icon>-->
              <!--</span>-->
            <!--</span>-->
            <!--<div class="col-10">-->
              <!--<div style="padding-top: 5%">-->
                <!--Phagwara, Punjab, India-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <ng-template #tabcontent>
      <div class="row clearfix" style="padding: 0 15px;" [ngClass]="(tab != 'user') ? 'd-none' : ''">
        <ng-container *ngIf="userData">
          <div *ngFor="let item of userData; let i = index" class="col-md-6">
            <div class="border-bottom">
              <a class="row" routerLink="/account/{{item.user.username}}" style="padding: 10px 0">
              <span class="col-md-2 col-3">
                <img src="{{item.user.profile_pic_url}}" alt="kateupton" width="45" height="45" style="border-radius: 50%;background: #f4f5f7;border: 1px solid #f4f5f7;transition: all .3s;">
              </span>
                <div class="col-md-10 col-9">
                  <div>
                    {{item.user.full_name}}
                  </div>
                  <span class="font-14">@{{item.user.username}}</span>
                </div>
              </a>
            </div>
          </div>
        </ng-container>
        <div *ngIf="notFound">
          <div class="container">
            <div class="col-md-8 outer-col-8">
              <h1 class="text-center">No results found</h1>
              <app-editor-list></app-editor-list>
            </div>
          </div>
        </div>
      </div>

      <div class="row clearfix" style="padding: 0 15px;" [ngClass]="(tab != 'hashtag') ? 'd-none' : ''">
        <ng-container *ngIf="tagData">
          <div *ngFor="let item of tagData; let i = index" class="col-md-6">
            <div class="border-bottom">
              <a class="row" routerLink="/tag/{{item.hashtag.name}}" style="padding: 10px 0">
              <span class="col-md-2 col-3">
                <i style="background: #f4f5f7; color: #adb5bd; width: 45px; height: 45px; display: flex; border-radius: 100%; font-size: 20px; justify-content: center; align-items: center; font-weight: 500;">#</i>
              </span>
                <div class="col-md-10 col-9">
                  <div class="">
                    #{{item.hashtag.name}}
                  </div>
                  <span class="font-14">{{item.hashtag.media_count}} Posts</span>
                </div>
              </a>
            </div>
          </div>
        </ng-container>
        <div *ngIf="notFound">
          <div class="container">
            <div class="col-md-8 outer-col-8">
              <h1 class="text-center">No results found</h1>
              <app-editor-list></app-editor-list>
            </div>
          </div>
        </div>
      </div>

      <div class="row clearfix" style="padding: 0 15px;" [ngClass]="(tab != 'place') ? 'd-none' : ''">
        <ng-container *ngIf="locationData">
          <div *ngFor="let item of locationData; let i = index" class="col-md-6">
            <div class="border-bottom">
              <a class="row"routerLink="/location/{{item.place.location.pk}}/{{item.place.slug}}" style="padding: 10px 0">
              <span class="col-md-2 col-3">
                <span style="background: #f4f5f7; color: #adb5bd; width: 45px; height: 45px; display: flex; border-radius: 100%; font-size: 20px; justify-content: center; align-items: center; font-weight: 500;">
                  <fa-icon [icon]="faLocationArrow"></fa-icon>
                </span>
              </span>
                <div class="col-md-10 col-9">
                  <div style="padding-top: 5%">
                    {{item.place.title}}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </ng-container>
        <div *ngIf="notFound">
          <div class="container">
            <div class="col-md-8 outer-col-8">
              <h1 class="text-center">No results found</h1>
              <app-editor-list></app-editor-list>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

</div>
