input
{
  border: none;
  width: 100%;
  padding: 32px 0;
  font-size: 26px;
  font-weight: 700;
  color: #adb5bd;
}
input:focus
{
  outline: none;
}
input::placeholder
{
  font-size: 26px;
  font-weight: 700;
  color: #adb5bd;
}
.clear-search
{
  position: absolute;
  right: .5rem;
  top: calc(50% - 15px);
  width: 30px;
  height: 30px;
  line-height: 28px;
  background-color: #f4f5f7;
  color: #868e96;
  font-size: 1.125rem;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}
