.tabs a
{
  color: #868e96;
}
.tabs a.active
{
  color: #007bff;
}
.search-list a img
{
  border-radius: 50%;
  background: #f4f5f7;
  border: 1px solid #f4f5f7;
  transition: all .3s;
}
.search-list a span
{
  color: #868e96;
}
.search-list a
{
  padding-top: 10px;
  padding-bottom: 10px;
}
.font-14
{
  font-size: 14px;
}
.border-bottom
{
  border-bottom: 1px solid #f4f5f7;
}
a:hover
{
  text-decoration: none;
}
a:hover .font-14
{
  color: #0056b3 !important;
}
@media screen and (max-width: 767px)
{
  .xs-no-padding
  {
    padding: 0;
  }
}
