<div *ngIf="loader"><app-loader></app-loader></div>
<div *ngIf="!loader"><app-topbar></app-topbar></div>
<div *ngIf="!loader" class="banner" style="background: white;">
  <div class="col-md-7 text-center mr-auto ml-auto">
    <br>

    <div [ngClass]="(tab != 'user') ? 'd-none' : ''">
      <h1 style="font-size: 3rem"><strong>Instagram's Popular Users</strong></h1>
      <h5>
        <strong>The most followed users</strong>
      </h5>
    </div>

    <div [ngClass]="(tab != 'tag') ? 'd-none' : ''">
      <h1 style="font-size: 3rem"><strong>Instagram's Popular Tags</strong></h1>
      <h5>
        <strong>From past to the present, the most used and popular tags</strong>
      </h5>
    </div>

    <div [ngClass]="(tab != 'location') ? 'd-none' : ''">
      <h1 style="font-size: 3rem"><strong>Instagram's Popular Locations</strong></h1>
      <h5>
        <strong>From past to the present, most used and popular locations</strong>
      </h5>
    </div>

    <br>
  </div>
</div>
<div *ngIf="!loader" class="col" style="background: white; padding-top: 15px; padding-bottom: 15px; font-size: 13px; border-top: 1px solid #f4f5f7">
  <div class="col-md-10 xs-no-padding mr-auto ml-auto tabs">
    <div class="row text-center">
      <div class="col-md-4 col-4">
        <a [ngClass]="(tab == 'user') ? 'active' : ''" href="javascript:void(0);" (click)="changeTab('user')">
          TOP USERS
        </a>
      </div>
      <div class="col-md-4 col-4">
        <a [ngClass]="(tab == 'tag') ? 'active' : ''" href="javascript:void(0);" (click)="changeTab('tag')">
          TOP TAGS
        </a>
      </div>
      <div class="col-md-4 col-4">
        <a [ngClass]="(tab == 'location') ? 'active' : ''" href="javascript:void(0);" (click)="changeTab('location')">
          TOP LOCATIONS
        </a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div *ngIf="!loader" class="container xs-no-padding">
  <div class="col-md-10 ml-auto mr-auto search-list xs-no-padding">
    <div style="background: white; padding: 15px 0px">
      <div infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="2000" (scrolled)="onScrollDown($event)" (scrolledUp)="onScrollUp($event)">
        <div class="row clearfix" style="padding: 0 15px;" [ngClass]="(tab != 'user') ? 'd-none' : ''">
          <div *ngFor="let user of users; let i = index" class="col-md-6">
            <div class="col-12 border-bottom">
              <a class="row" routerLink="/account/{{user.username}}">
                <span class="col-md-2 col-3">
                  <img src="{{user.profile_pic}}" alt="{{user.name}}" width="45" height="45">
                </span>
                <div class="col-md-10 col-9">
                  <div class="row">
                    {{user.name}}
                  </div>
                  <a routerLink="/account/{{user.username}}"><span class="row font-14">@{{user.username}}</span></a>
                  <span class="font-14 row">{{user.followers | number}} Followers</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="row clearfix" style="padding: 0 15px;" [ngClass]="(tab != 'tag') ? 'd-none' : ''">
          <div *ngFor="let item of tagData; let i = index" class="col-md-6">
            <div class="col-12 border-bottom">
              <a class="row" routerLink="/tag/{{item.name}}">
                <span class="col-2">
                  <i style="background: #f4f5f7; color: #adb5bd; width: 45px; height: 45px; display: flex; border-radius: 100%; font-size: 20px; justify-content: center; align-items: center; font-weight: 500;">#</i>
                </span>
                <div class="col-10">
                  <div class="row">
                    #{{item.name}}
                  </div>
                  <span class="font-14 row" *ngIf="item.posts>0">{{item.posts | number}} Posts</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="row clearfix" style="padding: 0 15px;" [ngClass]="(tab != 'location') ? 'd-none' : ''">
          <div *ngFor="let item of locationData; let i = index" class="col-md-6">
            <div class="col-12 border-bottom">
              <a class="row" routerLink="/location/{{item.slug}}">
                <span class="col-2">
                  <span style="background: #f4f5f7; color: #adb5bd; width: 45px; height: 45px; display: flex; border-radius: 100%; font-size: 20px; justify-content: center; align-items: center; font-weight: 500;">
                    <fa-icon [icon]="faLocationArrow"></fa-icon>
                  </span>
                </span>
                <div class="col-10">
                  <div class="row">
                    {{item.name}}
                  </div>
                  <span class="font-14 row">{{item.posts | number}} Posts</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

