<div class="col-md-4 offset-md-4">
  <br>
  <br>
  <div class="card">
    <div class="card-body">
      <h2 class="text-center">LOGIN</h2>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="email">Username</label>
          <input type="text" id="email" class="form-control" [ngClass]="{ 'is-invalid': loginForm.email.errors }" />
          <div *ngIf="loginForm.email.errors" class="invalid-feedback">
            <div *ngIf="loginForm.email.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" [ngClass]="{ 'is-invalid': loginForm.password.errors }" />
          <div *ngIf="loginForm.password.errors" class="invalid-feedback">
            <div *ngIf="loginForm.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
