<!--Banner Section Starts-->
<div class="banner-section">
    <div class="container">
        <div class="banner-inner">
            <div class="row justify-content-center">
                <div class="col-md-12 col-11">

                    <div class="row justify-content-center">
                        <div class="col-md-10 col-12">

                            <div class="banner-title-section text-center text-white">
                                <div class="banner-title">
                                    <h1>Explore The World of Instagram<sup>TM</sup></h1>
                                </div>
                                <div class="banner-desc">
                                    <p>Finds the most popular Instagram posts, users, hashtags and stories anonymously</p>
                                </div>
                            </div>

                            <div class="banner-form">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faSearch"></fa-icon></span>
                                    </div>
                                    <input id="search" placeholder="Search for user or hashtag..." type="text" class="form-control" aria-describedby="basic-addon1" (keyup.enter)="searchInstagram($event)">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Banner Section Ends-->


<!--Categories Section Starts-->
<div class="categories-section">
    <div class="row justify-content-center">
        <div class="col-12">

            <div class="categories-inner">


                <div class="categories-box-outer">

                    <div class="categories-box categories-box-1"  style="background-image: url('../../assets/images/travel.jpg')">
                        <div class="categories-box-inner" routerLink="/tag/travel">
                            <a class="text-white">Travel</a>
                        </div>
                    </div>
                    <div class="categories-box categories-box-2"  style="background-image: url('../../assets/images/photography.jpg')">
                        <div class="categories-box-inner" routerLink="/tag/photography">
                            <a class="text-white">Photography</a>
                        </div>
                    </div>
                    <div class="categories-box categories-box-3"  style="background-image: url('../../assets/images/yoga.jpg')">
                        <div class="categories-box-inner" routerLink="/tag/yoga">
                            <a class="text-white">Yoga</a>
                        </div>
                    </div>
                    <div class="categories-box categories-box-4"  style="background-image: url('../../assets/images/fashion.jpg')">
                        <div class="categories-box-inner" routerLink="/tag/fashion">
                            <a class="text-white">Fashion</a>
                        </div>
                    </div>
                    <div class="categories-box categories-box-5"  style="background-image: url('../../assets/images/cars.jpg')">
                        <div class="categories-box-inner" routerLink="/tag/cars">
                            <a class="text-white">Cars</a>
                        </div>
                    </div>
                    <div class="categories-box categories-box-6"  style="background-image: url('../../assets/images/beauty.jpg')">
                        <div class="categories-box-inner" routerLink="/tag/beauty">
                            <a class="text-white">Beauty</a>
                        </div>
                    </div>
                    <div class="categories-box categories-box-6"  style="background-image: url('../../assets/images/fitness.jpg')">
                        <div class="categories-box-inner" routerLink="/tag/fitness">
                            <a class="text-white">Fitness</a>
                        </div>
                    </div>
                    <div class="categories-box categories-box-6"  style="background-image: url('../../assets/images/music.jpg')">
                        <div class="categories-box-inner" routerLink="/tag/music">
                            <a class="text-white">Music</a>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
</div>
<!--Categories Section Ends-->
