<div class="banner">
  <div class="title text-white text-center">
    <div class="col-md-7 ml-auto mr-auto">
      <h1>Discover The World</h1>
      <p>Finds the most popular Instagram posts, users, hashtags and stories anonymously</p>
      <div class="col-10 ml-auto mr-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faSearch"></fa-icon></span>
          </div>
          <input id="search" placeholder="Search for user or hashtag..." type="text" class="form-control" aria-describedby="basic-addon1" (keyup.enter)="searchInstagram($event)">
        </div>
      </div>
      <!--<div class="col-10 ml-auto mb-3">-->
        <!--<div *ngIf="data" class="dropdown">-->
          <!--<ul class="dropdown-menu show">-->
            <!--<li *ngFor="let item of data.users" class="mb-2" style="border-bottom: 1px solid whitesmoke"><a class="pl-3" routerLink="/{{item.user.username}}"><img src="{{item.user.profile_pic_url}}" alt="profile_pic" width="32">&nbsp;&nbsp;&nbsp;&nbsp;{{item.user.full_name}}</a></li>-->
            <!--<li *ngFor="let item of data.places" class="mb-2" style="border-bottom: 1px solid whitesmoke"><a class="pl-3" routerLink="/location/{{item.place.location.pk}}/{{item.place.slug}}"><fa-icon [icon]="faMapMarkedAlt"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{item.place.title}}</a></li>-->
            <!--<li *ngFor="let item of data.hashtags" class="mb-2" style="border-bottom: 1px solid whitesmoke"><a class="pl-3" routerLink="/tags/{{item.hashtag.name}}"><fa-icon [icon]="faHashtag"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{item.hashtag.name}}</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <div class="categories col">
    <div class="row photographs">
      <div class="col" style="background-image: url('../../assets/images/travel.jpg')">
        <div class="row" routerLink="/tag/travel">
          <h6 class="text-center"><a class="text-white">Travel</a></h6>
        </div>
      </div>
      <div class="col" style="margin-left: 1px; background-image: url('../../assets/images/photography.jpg')">
        <div class="row" routerLink="/tag/photography">
          <h6 class="text-center"><a class="text-white">Photography</a></h6>
        </div>
      </div>
      <div class="col" style="margin-left: 1px; background-image: url('../../assets/images/yoga.jpg')">
        <div class="row" routerLink="/tag/yoga">
          <h6 class="text-center"><a class="text-white">Yoga</a></h6>
        </div>
      </div>
      <div class="col" style="margin-left: 1px; background-image: url('../../assets/images/fashion.jpg')">
        <div class="row" routerLink="/tag/fashion">
          <h6 class="text-center"><a class="text-white">Fashion</a></h6>
        </div>
      </div>
      <div class="col" style="margin-left: 1px; background-image: url('../../assets/images/cars.jpg')">
        <div class="row" routerLink="/tag/cars">
          <h6 class="text-center"><a class="text-white">Cars</a></h6>
        </div>
      </div>
      <div class="col" style="margin-left: 1px; background-image: url('../../assets/images/beauty.jpg')">
        <div class="row" routerLink="/tag/beauty">
          <h6 class="text-center"><a class="text-white">Beauty</a></h6>
        </div>
      </div>
      <div class="col" style="margin-left: 1px; background-image: url('../../assets/images/fitness.jpg')">
        <div class="row" routerLink="/tag/fitness">
          <h6 class="text-center"><a class="text-white">Fitness</a></h6>
        </div>
      </div>
      <div class="col" style="margin-left: 1px; background-image: url('../../assets/images/music.jpg')">
        <div class="row" routerLink="/tag/music">
          <h6 class="text-center"><a class="text-white">Music</a></h6>
        </div>
      </div>
    </div>
  </div>
</div>
