.facebook
{
  background-color: #6283c5 !important;
  border-color: #6283c5 !important;
  color: #ffffff !important;
}
.facebook:hover
{
  background-color: #4267b2 !important;
  border-color: #4267b2 !important;
  color: #ffffff !important;
}
.twitter
{
  background-color: #4db5f5 !important;
  border-color: #4db5f5 !important;
  color: #ffffff !important;
}
.twitter:hover
{
  background-color: #1da1f2 !important;
  border-color: #1da1f2 !important;
  color: #ffffff !important;
}
.pinterest
{
  background-color: #f74d60 !important;
  border-color: #f74d60 !important;
  color: #ffffff !important;
}
.pinterest:hover
{
  background-color: #bd081c !important;
  border-color: #bd081c !important;
  color: #ffffff !important;
}
.tumblr
{
  background-color: #485f7c !important;
  border-color: #485f7c !important;
  color: #ffffff !important;
}
.tumblr:hover
{
  background-color: #35465c !important;
  border-color: #35465c !important;
  color: #ffffff !important;
}
.vk
{
  background-color: #6b8cb1 !important;
  border-color: #6b8cb1 !important;
  color: #ffffff !important;
}
.vk:hover
{
  background-color: #6b8cb1 !important;
  border-color: #6b8cb1 !important;
  color: #ffffff !important;
}
.reddit
{
  background-color: #86b2db !important;
  border-color: #86b2db !important;
  color: #ffffff !important;
}
.reddit:hover
{
  background-color: #5f99cf !important;
  border-color: #5f99cf !important;
  color: #ffffff !important;
}
.telegram
{
  background-color: #82c0f0 !important;
  border-color: #82c0f0 !important;
  color: #ffffff !important;
}
.telegram:hover
{
  background-color: #54a9eb !important;
  border-color: #54a9eb !important;
  color: #ffffff !important;
}
.whatsapp
{
  background-color: #4be083 !important;
  border-color: #4be083 !important;
  color: #ffffff !important;
}
.whatsapp:hover
{
  background-color: #25d366 !important;
  border-color: #25d366 !important;
  color: #ffffff !important;
}
@media screen and (max-width: 767px) {
  .card
  {
    height: 420px;
  }
  .card-img-top
  {
    height: 200px;
  }
  .hide-in-xs
  {
    display: none;
  }
}
