<app-topbar></app-topbar>
<div class="banner" *ngIf="locData !== null">
    <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="360" id="gmap_canvas" [src]="cleanURL('https://maps.google.com/maps?q='+locData.lat+','+locData.lng+'&t=&z=13&ie=UTF8&iwloc=&output=embed')" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.online-timer.net">elapsed timer</a></div><style>.mapouter{position:relative;text-align:right;height:360px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:360px;width:100%;}</style></div>
    <div class="col-md-10 text-center mr-auto ml-auto">
        <br>
        <!--<img src="{{locData.profile_pic_url}}" alt="" width="85px" style="border-radius: 50%; border: 3px solid white;  box-shadow: 0 0 0 3px darksalmon;">-->
        <h1 style="font-size: 54px; font-weight: bolder"><strong>{{locData.name}}</strong></h1>
        <p>{{locData.blurb}}</p>
        <p>
            <span>{{locData.edge_location_to_media.count | number}} Posts</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;<fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;&nbsp;Share</span>
        </p>
    </div>
</div>

<div class="grid-section" style="margin-top: 140px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12" *ngIf="locData !== null">
                <div infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="2000" (scrolled)="onScrollDown($event)">
                    <div class="row">
                        <div *ngFor="let item of locData.edge_location_to_media.edges; let i = index" class="col-md-4 col-6" style="margin-bottom: 25px">
                            <div class="card">
                                <div class="card-inner">
                                    <div class="card-img">
                                        <a routerLink="/single-post/{{item.node.id}}">
                                            <img class="card-img-top" src="{{item.node.display_url}}" alt="icon">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span *ngFor="let caption of item.node.edge_media_to_caption.edges;" [innerHTML]="(caption.node.text.substring(0, 100) | linkify: linkifyOptions)"></span>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="card-footer-inner">
                                            <a class="share-anchor" href="javascript:void(0)" (click)="open(share, item.node.shortcode, item.node.edge_media_to_caption.edges)"><fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;Share&nbsp;&nbsp;&nbsp;</a>
                                            <fa-icon [icon]="faHeart"></fa-icon>&nbsp;{{item.node.edge_media_preview_like.count | number}}&nbsp;&nbsp;
                                            <fa-icon [icon]="faCommentAlt" class="hide-in-xs"></fa-icon>&nbsp;<span class="hide-in-xs">{{item.node.edge_media_to_comment.count | number}}</span>&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="locData === null || locData.edge_location_to_media.edges.length < locData.edge_location_to_media.count"><app-loader></app-loader></div>
        </div>
    </div>
</div>

<ng-template #share let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Share</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <a target="_blank" [href]="facebookSharer" class="btn btn-default btn-round facebook text-white"><fa-icon [icon]="faFacebookF"></fa-icon> Facebook</a>&nbsp;&nbsp;
        <a target="_blank" [href]="twitterSharer" class="btn btn-default btn-round twitter text-white"><fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="pinterestSharer" class="btn btn-default btn-round pinterest text-white"><fa-icon [icon]="faPinterestP"></fa-icon> Pinterest</a>&nbsp;&nbsp;
        <a target="_blank" [href]="tumblrSharer" class="btn btn-default btn-round tumblr text-white"><fa-icon [icon]="faTumblr"></fa-icon> Tumblr</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="vkSharer" class="btn btn-default btn-round vk text-white"><fa-icon [icon]="faVk"></fa-icon> Vk</a>&nbsp;&nbsp;
        <a target="_blank" [href]="redditSharer" class="btn btn-default btn-round reddit text-white"><fa-icon [icon]="faRedditAlien"></fa-icon> Reddit</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="telegramSharer" class="btn btn-default btn-round telegram text-white"><fa-icon [icon]="faTelegramPlane"></fa-icon> Telegram</a>&nbsp;&nbsp;
        <a target="_blank" [href]="whatsappSharer" class="btn btn-default btn-round whatsapp text-white"><fa-icon [icon]="faWhatsapp"></fa-icon> Whatsapp</a>
      </div>
    </div>
  </div>
</ng-template>
