<div *ngIf="!loader"><app-topbar></app-topbar></div>
<div *ngIf="loader">
  <app-loader></app-loader>
</div>
<!--Tag Banner Starts-->
<div class="tag-banner" *ngIf="tagData.edge_hashtag_to_top_posts.edges.length > 0 && !loader">

    <div class="row justify-content-center">

        <div class="col-md-12 col-11">

            <div class="tag-banner-content text-center">
                <div class="tag-img">
                    <img src="{{tagData.profile_pic_url}}" alt="">
                </div>
                <div class="tag-title">
                    <h1>#{{tag}}</h1>
                </div>
                <div class="tag-desc">
                    <p>
                        <span class="tag-desc-post">{{tagData.edge_hashtag_to_top_posts.edges.length | number}} Posts</span>
                        <span class="tag-desc-share"><fa-icon [icon]="faExternalLinkAlt"></fa-icon> Share</span>
                    </p>
                </div>
            </div>

        </div>

        <div class="col-12">

            <div class="tag-banner-tags-section">
                <div class="container">
                    <div class="tag-banner-tags-inner">
                        <div class="tag-link" *ngFor="let item of tagData.edge_hashtag_to_related_tags.edges; let i = index">
                            <a class="btn btn-primary btn-sm" routerLink="/tag/{{item.node.name}}"><h6 style="margin-bottom: 0;">#{{item.node.name}}</h6></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<!--Tag Banner Ends-->

<!--Grid Section Starts-->
<div class="grid-section" *ngIf="tagData.edge_hashtag_to_top_posts.edges.length > 0 && !loader">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">

                <div class="grid-title" *ngIf="tagData.edge_hashtag_to_top_posts.edges.length > 0">
                    <h2><b>#{{tag}}</b> Instagram posts</h2>
                </div>

                <div infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="2000" (scrolled)="onScrollDown($event)" (scrolledUp)="onScrollUp($event)">

                    <div class="row">
                        <div *ngFor="let item of tagData.edge_hashtag_to_top_posts.edges; let i = index" class="col-md-4 col-6">
                            <div class="card">

                                <div class="card-inner">

                                    <div class="card-img">
                                        <a routerLink="/single-post/{{item.node.id}}">
                                            <img class="card-img-top" src="{{item.node.display_url}}" alt="icon">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span *ngFor="let caption of item.node.edge_media_to_caption.edges;" [innerHTML]="caption.node.text.substring(0, 100) | linkify: linkifyOptions">
                                            </span>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="card-footer-inner">
                                            <a class="share-anchor" href="javascript:void(0)" (click)="open(share, item.node.shortcode, item.node.edge_media_to_caption.edges)"><fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;Share&nbsp;&nbsp;&nbsp;</a>
                                            <fa-icon [icon]="faHeart"></fa-icon>&nbsp;{{item.node.edge_media_preview_like.count | number}}&nbsp;&nbsp;
                                            <fa-icon [icon]="faCommentAlt" class="hide-in-xs"></fa-icon>&nbsp;<span class="hide-in-xs">{{item.node.edge_media_to_comment.count | number}}</span>&nbsp;&nbsp;
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div *ngIf="tagData === null || tagData.edge_hashtag_to_top_posts.edges.length < tagData.edge_hashtag_to_top_posts.count"><app-loader></app-loader></div>
        </div>
    </div>

</div>
<ng-template #share let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Share</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <a target="_blank" [href]="facebookSharer" class="btn btn-default btn-round facebook text-white"><fa-icon [icon]="faFacebookF"></fa-icon> Facebook</a>&nbsp;&nbsp;
        <a target="_blank" [href]="twitterSharer" class="btn btn-default btn-round twitter text-white"><fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="pinterestSharer" class="btn btn-default btn-round pinterest text-white"><fa-icon [icon]="faPinterestP"></fa-icon> Pinterest</a>&nbsp;&nbsp;
        <a target="_blank" [href]="tumblrSharer" class="btn btn-default btn-round tumblr text-white"><fa-icon [icon]="faTumblr"></fa-icon> Tumblr</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="vkSharer" class="btn btn-default btn-round vk text-white"><fa-icon [icon]="faVk"></fa-icon> Vk</a>&nbsp;&nbsp;
        <a target="_blank" [href]="redditSharer" class="btn btn-default btn-round reddit text-white"><fa-icon [icon]="faRedditAlien"></fa-icon> Reddit</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="telegramSharer" class="btn btn-default btn-round telegram text-white"><fa-icon [icon]="faTelegramPlane"></fa-icon> Telegram</a>&nbsp;&nbsp;
        <a target="_blank" [href]="whatsappSharer" class="btn btn-default btn-round whatsapp text-white"><fa-icon [icon]="faWhatsapp"></fa-icon> Whatsapp</a>
      </div>
    </div>
  </div>
</ng-template>
<!--Grid Section Ends-->




<!--<div class="banner" style="margin-top: 50px;">
  <div class="col-md-4 text-center mr-auto ml-auto">
    <img src="{{tagData.profile_pic_url}}" alt="" width="85px" style="border-radius: 50%; border: 3px solid white;  box-shadow: 0 0 0 3px darksalmon;">
    <h1 style="font-size: 54px; font-weight: bolder;margin: 0px;"><strong>#{{tag}}</strong></h1>
    <p>
      <span>{{tagData.edge_hashtag_to_top_posts.count}} Posts</span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;<fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;&nbsp;Share</span>
    </p>
  </div>
</div>
<div class="col" style="background: white;padding-top: 10px">
  <div class="col-md-10 mr-auto ml-auto search-list">
    <div class="row editor-list text-center">
      <div *ngFor="let item of tagData.edge_hashtag_to_related_tags.edges; let i = index">
        <a class="btn btn-primary btn-sm" routerLink="/tag/{{item.node.name}}"><h6 style="margin-bottom: 0;">#{{item.node.name}}</h6></a>
      </div>
    </div>
  </div>
</div>-->
<!--<div class="container" style="margin-top: 140px">
  <div class="col-md-10 ml-auto mr-auto">
    <div class="">
      <div infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="2000" (scrolled)="onScrollDown($event)" (scrolledUp)="onScrollUp($event)">
        <div class="row">
          <div *ngFor="let item of tagData.edge_hashtag_to_top_posts.edges; let i = index" class="col-md-4 col-6" style="margin-bottom: 25px">
            <div class="card">
              <a href="#" style="font-size: 11px; color: white; background: black; position: absolute; top: 0px; left: 2px;" *ngIf="item.node.location !== null"><fa-icon [icon]="faGlobeAmericas"></fa-icon> {{ item.node.location.name }}</a>-->
<!--<a routerLink="/single-post/{{item.node.shortcode}}" style="margin-top: 0">
  <img class="card-img-top" src="{{item.node.display_url}}" width="320" height="100%" alt="icon">
</a>
<div class="card-body">
  <small class="card-subtitle text-muted" style="font-size: 11px"><time>8 hours ago</time></small>-->
<!--<p class="card-text" style="font-size: 14px">
  <span *ngFor="let caption of item.node.edge_media_to_caption.edges;">
    {{caption.node.text.substring(0, 50)}}
  </span>
</p>
</div>
<div class="card-footer bg-white">
<span style="font-size: 12px">
  <fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;Share&nbsp;&nbsp;
  <fa-icon [icon]="faHeart"></fa-icon>&nbsp;{{item.node.edge_media_preview_like.count}}&nbsp;&nbsp;
  <fa-icon [icon]="faCommentAlt" class="hide-in-xs"></fa-icon>&nbsp;<span class="hide-in-xs">{{item.node.edge_media_to_comment.count}}</span>&nbsp;&nbsp;
</span>
</div>
</div>
</div>
</div>
</div>
</div>
<app-loader></app-loader>
</div>
</div>-->
