.banner
{
    padding: 30px 0px;
    background-color: white;
    border-bottom: 1px solid #f4f5f7;
}
.editor-list
{
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}
.editor-list .col-md-1
{
    flex: 0 0 auto;
}
a
{
    border-color: #0057ff1a;
    border-radius: 30px;
    margin-top: 10px;
}
.btn
{
    color: #ff1744 !important;
    background: #fff !important;
    border-color: rgba(255,23,68,.1);
    text-transform: capitalize;
}
.btn:hover
{
    color: #d50000 !important;
    background: #fff !important;
    border-color: rgba(213,0,0,.2);
}
.btn-round
{
  border-radius: 36px;
}
.facebook
{
  background-color: #6283c5 !important;
  border-color: #6283c5 !important;
  color: #ffffff !important;
}
.facebook:hover
{
  background-color: #4267b2 !important;
  border-color: #4267b2 !important;
  color: #ffffff !important;
}
.twitter
{
  background-color: #4db5f5 !important;
  border-color: #4db5f5 !important;
  color: #ffffff !important;
}
.twitter:hover
{
  background-color: #1da1f2 !important;
  border-color: #1da1f2 !important;
  color: #ffffff !important;
}
.pinterest
{
  background-color: #f74d60 !important;
  border-color: #f74d60 !important;
  color: #ffffff !important;
}
.pinterest:hover
{
  background-color: #bd081c !important;
  border-color: #bd081c !important;
  color: #ffffff !important;
}
.tumblr
{
  background-color: #485f7c !important;
  border-color: #485f7c !important;
  color: #ffffff !important;
}
.tumblr:hover
{
  background-color: #35465c !important;
  border-color: #35465c !important;
  color: #ffffff !important;
}
.vk
{
  background-color: #6b8cb1 !important;
  border-color: #6b8cb1 !important;
  color: #ffffff !important;
}
.vk:hover
{
  background-color: #6b8cb1 !important;
  border-color: #6b8cb1 !important;
  color: #ffffff !important;
}
.reddit
{
  background-color: #86b2db !important;
  border-color: #86b2db !important;
  color: #ffffff !important;
}
.reddit:hover
{
  background-color: #5f99cf !important;
  border-color: #5f99cf !important;
  color: #ffffff !important;
}
.telegram
{
  background-color: #82c0f0 !important;
  border-color: #82c0f0 !important;
  color: #ffffff !important;
}
.telegram:hover
{
  background-color: #54a9eb !important;
  border-color: #54a9eb !important;
  color: #ffffff !important;
}
.whatsapp
{
  background-color: #4be083 !important;
  border-color: #4be083 !important;
  color: #ffffff !important;
}
.whatsapp:hover
{
  background-color: #25d366 !important;
  border-color: #25d366 !important;
  color: #ffffff !important;
}
/*.card
{
  height: 600px;
}
.card-img-top
{
  height: 400px;
}*/
/*.footer-extra-padding
{
  padding: 10px 15px;
}*/
@media screen and (max-width: 767px) {
    /*.card
    {
      height: 420px;
    }
    .footer-extra-padding
    {
      padding: 10px 5px;
    }
    .card-img-top
    {
      height: 200px;
    }
    .hide-in-xs
    {
      display: none;
    }*/
}

