<app-topbar></app-topbar>
<div class="banner">
  <div class="col-md-4 text-center mr-auto ml-auto">
    <img src="{{tagData.profile_pic_url}}" alt="" width="85px" style="border-radius: 50%; border: 3px solid white;  box-shadow: 0 0 0 3px darksalmon;">
    <h1 style="font-size: 54px; font-weight: bolder"><strong>#{{tag}}</strong></h1>
    <p>
      <span>{{tagData.edge_hashtag_to_media.count}} Posts</span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;<fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;&nbsp;Share</span>
    </p>
  </div>
</div>
<div class="col" style="background: white; padding-top: 10px">
  <div class="col-md-10 mr-auto ml-auto search-list">
    <div class="row editor-list text-center">
      <div *ngFor="let item of tagData.edge_hashtag_to_related_tags.edges; let i = index">
        <a class="btn btn-primary btn-sm" routerLink="/tag/{{item.node.name}}"><h6 style="margin-bottom: 0;">#{{item.node.name}}</h6></a>
      </div>
    </div>
  </div>
</div>
<div class="col" style="margin-top: 140px">
  <div class="col-md-10 ml-auto mr-auto">
    <div class="">
      <div infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="2000" (scrolled)="onScrollDown($event)" (scrolledUp)="onScrollUp($event)">
        <div class="row">
          <div *ngFor="let item of tagData.edge_hashtag_to_media.edges; let i = index" class="col-md-4 col-6" style="margin-bottom: 25px">
            <div class="card">
              <!--<a href="#" style="font-size: 11px; color: white; background: black; position: absolute; top: 0px; left: 2px;" *ngIf="item.node.location !== null"><fa-icon [icon]="faGlobeAmericas"></fa-icon> {{ item.node.location.name }}</a>-->
              <a routerLink="/single-post/{{item.node.shortcode}}" style="margin-top: 0">
                <img class="card-img-top" src="{{item.node.display_url}}" width="320" height="100%" alt="icon">
              </a>
              <div class="card-body">
                <!--<small class="card-subtitle text-muted" style="font-size: 11px"><time>8 hours ago</time></small>-->
                <p class="card-text" style="font-size: 14px">
                  <span *ngFor="let caption of item.node.edge_media_to_caption.edges;">
                    {{caption.node.text.substring(0, 50)}}
                  </span>
                </p>
              </div>
              <div class="card-footer bg-white">
                <span style="font-size: 12px">
                  <fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;Share&nbsp;&nbsp;
                  <fa-icon [icon]="faHeart"></fa-icon>&nbsp;{{item.node.edge_media_preview_like.count}}&nbsp;&nbsp;
                  <fa-icon [icon]="faCommentAlt" class="hide-in-xs"></fa-icon>&nbsp;<span class="hide-in-xs">{{item.node.edge_media_to_comment.count}}</span>&nbsp;&nbsp;
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-loader></app-loader>
  </div>
</div>
