<!--<a routerLink="/single-post">-->
  <div class="card">
    <a routerLink="/">
      <div class="card-header bg-white" style="border-bottom: none; padding: 10px;">
        <img src="../../assets/images/kateupton.jpg" alt="icon" width="40px" height="40px" style="border-radius: 50%"/>&nbsp;&nbsp;<a class="username">username</a>
      </div>
    </a>
    <a href="#" style="font-size: 11px; color: white; background: black; position: absolute; top: 62px; left: 2px; padding: 5px;"><fa-icon [icon]="faGlobeAmericas"></fa-icon> Phoenix, Arizona</a>
    <a routerLink="/single-post"><img class="card-img-top" src="../../assets/images/photography.jpg" width="320" height="100%" alt="icon"></a>
    <div class="card-body" style="padding: 15px;">
      <small class="card-subtitle text-muted" style="font-size: 11px"><time>8 hours ago</time></small>
      <p class="card-text" style="font-size: 14px; color: #212121;">
        a fiery winter 🌨
        shop this look on the LIKEtoKNOW.it app! link in bio!
      </p>
    </div>
    <div class="card-footer bg-white footer-extra-padding">
      <span style="font-size: 12px; color: #767676;">
        <fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;Share&nbsp;&nbsp;&nbsp;
        <fa-icon [icon]="faHeart"></fa-icon>&nbsp;1196&nbsp;&nbsp;&nbsp;
        <fa-icon [icon]="faCommentAlt" class="hide-in-xs"></fa-icon>&nbsp;<span class="hide-in-xs">20</span>&nbsp;&nbsp;
      </span>
    </div>
  </div>
<!--</a>-->
