a:hover
{
  text-decoration: none;
}
.username
{
  color: #ff1744 !important;
  font-weight: 400;
  margin: 0;
}
.username:hover
{
  color: #d50000 !important;
}
.card
{
  height: 600px;
}
.footer-extra-padding
{
  padding: 10px 15px;
}
@media screen and (max-width: 767px) {
  .card
  {
    height: 420px;
  }
  .footer-extra-padding
  {
    padding: 10px 5px;
  }
  .hide-in-xs
  {
    display: none;
  }
}

