<div class="card common-card popular-users-card" style="border: none; background: transparent;">
  <div class="card-body main-card-body">
    <div class="col" *ngIf="users">

      <div class="top-section">
        <div class="row">
          <div class="col-10">
            <div class="top-left">
              <h4><span class="section-title-emoji">🤩</span> Top Users</h4>
            </div>
          </div>
          <div class="col-2">
            <div class="top-right">
              <a class="btn-more" routerLink="/popular/user" style="margin: 0;">more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom-section">
        <div class="row editor-list text-center">
          <div class="col-md-2 col-4" *ngFor="let user of users; let i = index;">
            <div class="editor-list-inner">
              <div *ngIf="i < 12" class="card p-0">
                <div class="card-body inner-card-body">
                  <div class="card-title">
                    <img src="{{user.profile_pic}}" alt="icon">
                  </div>
                  <div class="user-card-title">
                    <a routerLink="/account/{{user.username}}" class="username">{{user.username}} <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{user.name}}</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
