/*
img
{
  border-radius: 50%;
}
.col-md-2
{
  margin-top: 30px;
}
a
{
  color: #ff1744 !important;
  font-weight: 400;
  margin: 0;
}
a:hover
{
  color: #d50000 !important;
  text-decoration: none;
}
a
{
  border-color: #0057ff1a;
  border-radius: 30px;
  margin-top: 10px;
  background: white;
}
a h6
{
  font-weight: 400;
  margin: 0;
}
.btn
{
  color: #ff1744 !important;
  background: #fff !important;
  border-color: rgba(255,23,68,.1);
  text-transform: capitalize;
}
.btn:hover
{
  color: #d50000 !important;
  background: #fff !important;
  border-color: rgba(213,0,0,.2);
}
.username
{
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .main-card-body
  {
    padding: 0;
  }
  .inner-card-body
  {
    padding: 10px;
  }
  .username
  {
    font-size: 11px;
  }
}
*/
