.post-anchor
{
  color: #ff1744 !important;
}
.likes-card-body a
{
    color: #868e96;
}
.likes-card-body a:hover
{
    background: #ff1744;
    color: #fff;
}
.likes-card-body a
{
    border-color: #ff174433;
    border-radius: 30px;
    margin-top: 10px;
    color: #ff1744;
}
.likes-card-body .btn
{
    background: white;
}
.orange
{
    color: #ff1744 !important;
    font-weight: 400;
    margin: 0;
}
.orange:hover
{
    color: #d50000 !important;
}
.hashtags a
{
    color: #ff1744 !important;
    font-weight: 400;
    margin: 0;
}
.hashtags a:hover
{
    color: #d50000 !important;
    text-decoration: none;
}
.download
{
    color: #868e96;
}
.download:hover
{
    text-decoration: none;
    color: #868e96;
}
.btn-round
{
  border-radius: 36px;
}
.facebook
{
  background-color: #6283c5;
  border-color: #6283c5;
}
.facebook:hover
{
  background-color: #4267b2;
  border-color: #4267b2;
}
.twitter
{
  background-color: #4db5f5;
  border-color: #4db5f5;
}
.twitter:hover
{
  background-color: #1da1f2;
  border-color: #1da1f2;
}
.pinterest
{
  background-color: #f74d60;
  border-color: #f74d60;
}
.pinterest:hover
{
  background-color: #bd081c;
  border-color: #bd081c;
}
.tumblr
{
  background-color: #485f7c;
  border-color: #485f7c;
}
.tumblr:hover
{
  background-color: #35465c;
  border-color: #35465c;
}
.vk
{
  background-color: #6b8cb1;
  border-color: #6b8cb1;
}
.vk:hover
{
  background-color: #6b8cb1;
  border-color: #6b8cb1;
}
.reddit
{
  background-color: #86b2db;
  border-color: #86b2db;
}
.reddit:hover
{
  background-color: #5f99cf;
  border-color: #5f99cf;
}
.telegram
{
  background-color: #82c0f0;
  border-color: #82c0f0;
}
.telegram:hover
{
  background-color: #54a9eb;
  border-color: #54a9eb;
}
.whatsapp
{
  background-color: #4be083;
  border-color: #4be083;
}
.whatsapp:hover
{
  background-color: #25d366;
  border-color: #25d366;
}
