<app-topbar></app-topbar>
<div class="container" *ngIf="postData !== null">
    <div class="row justify-content-center">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-7">
                    <div class="card" style="min-height: 835px;">
                        <div class="card-header bg-white">
                            <a routerLink="/account/{{postData.owner.username}}"><img src="{{postData.owner.profile_pic_url}}" alt="icon" width="38px" style="border-radius: 50%; float: right"></a>
                            <div class="float-left">
                                <a routerLink="/account/{{postData.owner.username}}" style="color: #212121 !important;"><h4 style="font-size: 20px !important;">{{postData.owner.full_name}} @{{postData.owner.username}}</h4></a>
                                <time style="color: #868e96; font-size: 11px;">{{(postData.taken_at_timestamp*1000)|dfnsFormatDistanceToNow:options}}</time>&nbsp;·&nbsp;<a *ngIf="postData.location !== null" routerLink="/location/{{postData.location.id}}/{{postData.location.slug}}" style="font-size: 11px;"><fa-icon [icon]="faGlobeAmericas"></fa-icon>&nbsp;{{postData.location.name}}</a>
                            </div>
                        </div>
                        <img *ngIf="postData.__typename == 'GraphImage'" class="card-img-top card-main-img" src="{{postData.display_url}}" width="100%"  alt="icon">
                        <ngb-carousel *ngIf="postData.__typename == 'GraphSidecar'" (slide)="onSlide($event)">
                        <ng-template ngbSlide *ngFor="let childImage of postData.edge_sidecar_to_children.edges; let i = index">
                        <div class="picsum-img-wrapper">
                            <img [src]="childImage.node.display_url" width="100%" alt="Random first slide">
                        </div>
                        </ng-template>
                        </ngb-carousel>
                        <video *ngIf="postData.__typename == 'GraphVideo'" width="100%" controls>
                        <source src="{{postData.video_url}}" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                        <div class="card-img-top social-icons">
                            <div class="row text-center">
                                <div class="col"><a [href]="facebookSharer" target="_blank"><img src="../../assets/images/facebook.svg" alt="facebook" width="20px"></a></div>
                                <div class="col"><a [href]="twitterSharer" target="_blank"><img src="../../assets/images/twitter.svg" alt="twitter" width="20px"></a></div>
                                <div class="col"><a [href]="pinterestSharer" target="_blank"><img src="../../assets/images/pinterest.svg" alt="pinterest" width="20px"></a></div>
                                <div class="col"><a [href]="whatsappSharer" target="_blank"><img src="../../assets/images/whatsapp.svg" alt="whatsapp"></a></div>
                                <div class="col" style="color: #868e96;"><a href="javascript:void(0)" (click)="open(share)"><fa-icon [icon]="faExternalLinkAlt"></fa-icon></a></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <small class="card-subtitle text-muted" style="font-size: 11px"><time>8 hours ago</time></small>
                            <p class="card-text" style="font-size: 14px">
                                <span *ngFor="let caption of postData.edge_media_to_caption.edges" [innerHTML]="caption.node.text | linkify: linkifyOptions"></span>
                            </p>
                            <span style="font-size: 12px; color: #868e96;">
                                <fa-icon [icon]="faHeart"></fa-icon>&nbsp;{{postData.edge_media_preview_like.count}}&nbsp;&nbsp;&nbsp;
                                <fa-icon [icon]="faCommentAlt"></fa-icon>&nbsp;{{postData.edge_media_preview_comment.count}}&nbsp;&nbsp;
                                <a class="download" target="_blank" *ngIf="postData.__typename == 'GraphImage'" href="{{postData.display_url}}">
                                  <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>&nbsp;Download&nbsp;&nbsp;&nbsp;
                                </a>
                                <a class="download" target="_blank" *ngIf="postData.__typename == 'GraphVideo'" href="{{postData.video_url}}">
                                  <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>&nbsp;Download&nbsp;&nbsp;&nbsp;
                                </a>
                                <a class="download" target="_blank" *ngIf="postData.__typename == 'GraphSidecar'" href="{{postData.edge_sidecar_to_children.edges[imageIndex].node.display_url}}">
                                  <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>&nbsp;Download&nbsp;&nbsp;&nbsp;
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 15px" *ngIf="trendingTags">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header bg-white" style="padding: 15px;">
                        <div style="font-size: 16px; font-weight: bold;">TRENDING HASHTAGS</div>
                    </div>
                    <div class="card-body hashtags">
                        <div class="single-post-tags" *ngFor="let tag of trendingTags;let i = index;">
                        <a routerLink="/tag/{{tag.slug}}" *ngIf="i < 20">#{{tag.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 15px">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header bg-white" style="padding: 15px;">
                    <div style="font-size: 16px; font-weight: bold;">LIKES ({{postData.edge_media_preview_like.count}})</div>
                </div>
                <!--<div class="card-body likes-card-body">-->
                <!--<a class="btn btn-outline-primary btn-sm" href="#" style="padding: 0.15rem 0.75rem 0.15rem 0.15rem;"><img src="../../assets/images/kateupton.jpg" alt="icon" width="28px" style="border-radius: 50%; float: left;">&nbsp;&nbsp;DoubleJuice</a>&nbsp;&nbsp;-->
                <!--<a class="btn btn-outline-primary btn-sm" href="#" style="padding: 0.15rem 0.75rem 0.15rem 0.15rem;"><img src="../../assets/images/kateupton.jpg" alt="icon" width="28px" style="border-radius: 50%; float: left;">&nbsp;&nbsp;DoubleJuice</a>&nbsp;&nbsp;-->
                <!--<a class="btn btn-outline-primary btn-sm" href="#" style="padding: 0.15rem 0.75rem 0.15rem 0.15rem;"><img src="../../assets/images/kateupton.jpg" alt="icon" width="28px" style="border-radius: 50%; float: left;">&nbsp;&nbsp;DoubleJuice</a>&nbsp;&nbsp;-->
                <!--<a class="btn btn-outline-primary btn-sm" href="#" style="padding: 0.15rem 0.75rem 0.15rem 0.15rem;"><img src="../../assets/images/kateupton.jpg" alt="icon" width="28px" style="border-radius: 50%; float: left;">&nbsp;&nbsp;DoubleJuice</a>&nbsp;&nbsp;-->
                <!--<a class="btn btn-outline-primary btn-sm" href="#" style="padding: 0.15rem 0.75rem 0.15rem 0.15rem;"><img src="../../assets/images/kateupton.jpg" alt="icon" width="28px" style="border-radius: 50%; float: left;">&nbsp;&nbsp;DoubleJuice</a>&nbsp;&nbsp;-->
                <!--<a class="btn btn-outline-primary btn-sm" href="#" style="padding: 0.15rem 0.75rem 0.15rem 0.15rem;"><img src="../../assets/images/kateupton.jpg" alt="icon" width="28px" style="border-radius: 50%; float: left;">&nbsp;&nbsp;DoubleJuice</a>&nbsp;&nbsp;-->
                <!--<a class="btn btn-outline-primary btn-sm" href="#" style="padding: 0.15rem 0.75rem 0.15rem 0.15rem;"><img src="../../assets/images/kateupton.jpg" alt="icon" width="28px" style="border-radius: 50%; float: left;">&nbsp;&nbsp;DoubleJuice</a>&nbsp;&nbsp;-->
                <!--<a class="btn btn-outline-primary btn-sm" href="#" style="padding: 0.15rem 0.75rem 0.15rem 0.15rem;"><img src="../../assets/images/kateupton.jpg" alt="icon" width="28px" style="border-radius: 50%; float: left;">&nbsp;&nbsp;DoubleJuice</a>&nbsp;&nbsp;-->
                <!--<a class="btn btn-outline-primary btn-sm" href="#" style="padding: 0.15rem 0.75rem 0.15rem 0.15rem;"><img src="../../assets/images/kateupton.jpg" alt="icon" width="28px" style="border-radius: 50%; float: left;">&nbsp;&nbsp;DoubleJuice</a>&nbsp;&nbsp;-->
                <!--<a class="btn btn-outline-primary btn-sm" href="#" style="padding: 0.15rem 0.75rem 0.15rem 0.15rem;"><img src="../../assets/images/kateupton.jpg" alt="icon" width="28px" style="border-radius: 50%; float: left;">&nbsp;&nbsp;DoubleJuice</a>&nbsp;&nbsp;-->
                <!--<a class="btn btn-outline-primary btn-sm" href="#" style="padding: 0.15rem 0.75rem 0.15rem 0.15rem;"><img src="../../assets/images/kateupton.jpg" alt="icon" width="28px" style="border-radius: 50%; float: left;">&nbsp;&nbsp;DoubleJuice</a>&nbsp;&nbsp;-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 15px">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header bg-white" style="padding: 15px;">
                    <div style="font-size: 16px; font-weight: bold;">COMMENTS ({{postData.edge_media_preview_comment.count}})</div>
                </div>
                <div class="card-body" style="padding: 10px 0px;">
                    <div class="row" *ngFor="let comment of postData.edge_media_to_parent_comment.edges">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-1 col-2">
                                <div class="row">
                                    <img src="{{comment.node.owner.profile_pic_url}}" alt="icon" width="40px" height="40px" style="border-radius: 50%;">
                                </div>
                            </div>
                            <div class="col-md-9 col-8">
                                <div class="row">
                                    <a class="orange" routerLink="/account/{{comment.node.owner.username}}" style="font-size: 15px;margin-top: 0px;">@{{comment.node.owner.username}}</a>
                                </div>
                                <div class="row">
                                    <p style="font-size: 14px;">{{comment.node.text}}</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-2">
                                <div class="row">
                                    <time style="color: #868e96; font-size: 9px;">{{(comment.node.created_at*1000)|dfnsFormatDistanceToNow:options}}</time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row" style="padding: 15px 0 40px 0">-->
<!--<div class="col-md-7" style="border-bottom: 1px solid #e9ecef;">-->
<!--<div class="col-md-4 ml-auto mr-auto text-center" style="position: relative; top: 55%; border-radius: 32px; background: #f8f9fa; font-size: 16px; font-weight: bold">FEATURED POSTS</div>-->
<!--</div>-->
<!--</div>-->

<!--<div infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="2000" (scrolled)="onScrollDown($event)" (scrolledUp)="onScrollUp($event)">-->
<!--<div class="row">-->
<!--<div class="col-md-7">-->
<!--<div class="row">-->
<!--<div *ngFor="let item of [].constructor(total); let i = index" class="col-md-6 col-6" style="margin-bottom: 25px">-->
<!--<app-post></app-post>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

</div>
</div>
</div>
<ng-template #share let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Share</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <a target="_blank" [href]="facebookSharer" class="btn btn-default btn-round facebook text-white"><fa-icon [icon]="faFacebookF"></fa-icon> Facebook</a>&nbsp;&nbsp;
        <a target="_blank" [href]="twitterSharer" class="btn btn-default btn-round twitter text-white"><fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="pinterestSharer" class="btn btn-default btn-round pinterest text-white"><fa-icon [icon]="faPinterestP"></fa-icon> Pinterest</a>&nbsp;&nbsp;
        <a target="_blank" [href]="tumblrSharer" class="btn btn-default btn-round tumblr text-white"><fa-icon [icon]="faTumblr"></fa-icon> Tumblr</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="vkSharer" class="btn btn-default btn-round vk text-white"><fa-icon [icon]="faVk"></fa-icon> Vk</a>&nbsp;&nbsp;
        <a target="_blank" [href]="redditSharer" class="btn btn-default btn-round reddit text-white"><fa-icon [icon]="faRedditAlien"></fa-icon> Reddit</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="telegramSharer" class="btn btn-default btn-round telegram text-white"><fa-icon [icon]="faTelegramPlane"></fa-icon> Telegram</a>&nbsp;&nbsp;
        <a target="_blank" [href]="whatsappSharer" class="btn btn-default btn-round whatsapp text-white"><fa-icon [icon]="faWhatsapp"></fa-icon> Whatsapp</a>
      </div>
    </div>
  </div>
</ng-template>
