<app-topbar></app-topbar>
<div class="banner">
  <br>
  <div class="col-md-8 text-center mr-auto ml-auto">
    <fa-icon class="mr-auto ml-auto" [icon]="faList" style="background: #004eaf; color: white; font-size: 20px; width: 45px; height: 45px; display: flex; border-radius: 100%; justify-content: center; align-items: center; font-weight: 500;"></fa-icon>
    <h5 style="color: #004eaf"><strong>Instagram Lists</strong></h5>
    <p>Instagram does not allow you to create lists on itself. But we created useful and easy-to-use lists for you.</p>
  </div>
  <br>
</div>
<div class="col" style="margin-top: 25px">
  <div class="col-md-9 ml-auto mr-auto">
    <div class="row editor-list text-center">
      <div *ngFor="let collection of collections" class="col-md-2 col-6">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <img src="https://phpstack-469914-1474997.cloudwaysapps.com/assets/images/{{collection.image}}" alt="icon" width="50px" height="50px" style="border-radius: 50%">
            </div>
            <h6>{{collection.name}}</h6>
          </div>
        </div>
      </div>

      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
