<app-topbar></app-topbar>

<!--Tag Banner Starts-->
<div class="tag-banner">

    <div class="row justify-content-center">

        <div class="col-md-12 col-11">

            <div class="tag-banner-content text-center">
                <div class="tag-img">
                    <img src="https://phpstack-469914-1474997.cloudwaysapps.com/assets/images/{{collection.image}}" alt="">
                </div>
                <div class="tag-title">
                    <h1>{{collection.name}}</h1>
                </div>
            </div>

        </div>

    </div>

</div>
<!--Tag Banner Ends-->

<!--<div class="banner">
  <div class="col-md-1 text-center mr-auto ml-auto">
    <img src="https://gramlens.com/admin/assets/images/{{collection.image}}" alt="icon" width="90px" height="90px" style="border-radius: 50%">
    <h5><strong>{{collection.name}}</strong></h5>
  </div>
</div>-->
<div class="container common-card">
  <div class="col-md-10 mr-auto ml-auto search-list" style="margin-top: 20px">
    <div class="row clearfix">
      <div class="col-md-6" *ngFor="let user of users">
        <div class="col-12 border-bottom">
          <a class="row no-underline" routerLink="/account/{{user.username}}">
            <span class="col-md-2 col-3">
              <img src="https://phpstack-469914-1474997.cloudwaysapps.com/assets/images/{{user.profile_pic}}" alt="user" width="45" height="45">
            </span>
            <div class="col-md-10 col-9">
              <div class="row">
                {{user.name}}
              </div>
              <span class="row font-14">@{{user.username}}</span>
              <span class="font-14 row">{{user.followers}} Followers</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 15px 0 40px 0">
      <div class="col-md-12" style="border-bottom: 1px solid #e9ecef;">
        <h5 class="col-md-3 ml-auto mr-auto text-center" style="position: relative; top: 55%; border-radius: 32px; background: #f8f9fa;">Suggestions For You</h5>
      </div>
    </div>
    <div class="row editor-list text-center">

      <div class="col-md-2 col-6" *ngFor="let item of collections; let i = index" style="padding: 10px;">
        <a *ngIf="i < 12" routerLink="/collection/{{item.id}}" class="no-underline">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <img src="https://gramlens.com/admin/assets/images/{{item.image}}" alt="icon" width="50px" height="50px" style="border-radius: 50%">
              </div>
              <h6>{{item.name}}</h6>
            </div>
          </div>
        </a>
      </div>






      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<div class="card-title">-->
              <!--<img src="../../assets/images/fashion.png" alt="icon" width="50px">-->
            <!--</div>-->
            <!--<h6>Text</h6>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
