.tag-banner
{padding-bottom: 50px;}
.tag-title h1
{font-size: 36px;}






.banner
{
  padding: 20px 0px;
  background-color: white;
}
.search-list a img
{
  border-radius: 50%;
  background: #f4f5f7;
  border: 1px solid #f4f5f7;
  transition: all .3s;
}
.search-list a span
{
  color: #868e96;
}
.search-list a
{
  padding-top: 10px;
  padding-bottom: 10px;
}
.font-14
{
  font-size: 14px;
}
.border-bottom
{
  border-bottom: 1px solid #f4f5f7;
}
.editor-list
{
  padding: 20px 0;
  height: 185px;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.editor-list .col-md-2
{
  flex: 0 0 auto;
}
.no-underline:hover
{
  text-decoration: none;
}
