/* You can add global styles to this file, and also import other style files */

/*Global CSS Starts*/
[class*='col-']{padding-right:0 !important;padding-left:0 !important;}
.row{margin-right: 0px !important;margin-left: 0px !important;}
.btn-primary.focus, .btn-primary:focus
{box-shadow: unset !important;}


body
{background-color: #fafafa !important;color: #212121;}
a
{color: #212121;}
a:hover
{color: inherit;}
h4
{font-size: 20px;font-weight: bold;}

.bg-light
{background-color: #ffffff!important;}

h1,h2,h3,h4,h5,h6
{margin: 0px;}
.banner-title h1,
.tag-title h1
{margin: 0px;}
/*Global CSS Ends*/

/*Container CSS Starts*/
@media (min-width: 760px)
{
  .container
  {width: 685px;}
}

@media (min-width: 1200px)
{
  .container
  {width: 1040px !important;}
}
/*Container CSS Ends*/

/*Buttons CSS Starts*/
.btn-more
{white-space: nowrap;text-align: center;font-size: 12px;padding: 3px 10px 6px 10px;line-height: 28px;border-radius: 9999px;text-transform: capitalize;text-decoration: none !important;-webkit-transition: all .3s;transition: all .3s;}
.tags-link
{display: inline-block;}
.tags-link
{font-size: 14px;padding: 1px 12px 4px 12px;}
.btn-more,
.tags-link
{color: #ff1744;background: #fff;border: 1px solid rgba(255,23,68,.2);}
.btn-more:hover,
.tags-link:hover
{color: #d50000;background: #fff;border-color: rgba(213,0,0,.2);}
/*Buttons CSS Ends*/








/*Homepage CSS Starts*/

/*Banner CSS Starts*/
.banner-section
{padding: 70px 0px;background-image: linear-gradient(to right,rgba(59,162,255,0.9),rgb(105,99,255,0.8)),url("assets/images/images.jpg");}
.banner-inner
{}
.banner-title-section
{}
.banner-title
{}
.banner-title h1
{font-size: 55px; font-weight: bold;}
.banner-desc
{}
.banner-desc p
{font-size: 20px;font-weight: 600;}
.banner-form
{display: block;margin: auto;max-width: 550px;}
.banner-form input
{border-radius: 0px 32px 32px 0px;border-left: 0;}
.banner-form .input-group-text
{border-radius: 32px 0px 0px 32px;background: white;}
/*Banner CSS Ends*/

/*Categories Section CSS Starts*/
.categories-section
{}
.categories-inner
{}
.categories-box-outer
{display: flex;flex-wrap: wrap;flex-direction: row;}
.categories-box
{width: 12.5%;text-align: center;border-right: 2px solid #ffffff;background-position: 50%;background-repeat: no-repeat;background-size: cover;background-color: #343a40;overflow: hidden;}
.categories-box:last-child
{border-right: 0px;}
.categories-box-inner
{height: 80px;cursor: pointer;position: relative;}
.categories-box-inner:before
{content: '';width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-color: rgba(33,33,33,.5);}
.categories-box-inner:hover::before
{background-color: rgba(33,33,33,.1);}
.categories-box-inner a
{color: #e9ecef;font-weight: 500;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);left: 0;right: 0;display: block;margin: auto;padding: 0px 5px;transition: all .3s;}
/*Categories Section CSS Ends*/

/*Editor List CSS Starts*/
.common-card
{padding: 20px 0px;}
.editor-card
{}
.card-trend-hashtag
{}
.popular-users-card
{}
.common-card .card-body
{padding: 0px;}
.top-section
{margin-bottom: 10px;}
.bottom-section
{}
.top-left
{}
.top-right
{text-align: right;}
.editor-list
{}
.common-card .editor-list-inner
{padding: 10px;}
.common-card .editor-list-inner a
{display: block;text-decoration: none !important;}
.common-card .editor-list .card-body
{padding: 20px 20px 30px 20px;}
.common-card .editor-list .card-title
{margin-bottom: 20px;}
.common-card .editor-list .card-title img
{width: 50px;height: 50px;border-radius: 100%;object-fit: cover;border: 2px solid #ff1744;}
.popular-users-card .editor-list .card-title img
{border: 0px;}
.common-card .editor-list .card-body h6
{text-transform: capitalize;}
.user-card-title
{}
.user-card-title a.username
{font-size: 13px;color: #ff1744;}
.user-card-title a.username span
{color: #767676;display: block;margin-top: 5px;}
/*Editor List CSS Ends*/

/*Trend Hashtag CSS Starts*/
.tags-link
{margin: 5px;}
/*Trend Hashtag CSS Ends*/

/*Homepage CSS Ends*/


/*Tag Page CSS Starts*/

/*Tag Banner CSS Starts*/
.tag-banner
{padding-top: 50px;background-color: #ffffff;}
.tag-banner-inner
{}
.tag-banner-content
{}
.tag-img
{}
.tag-img img
{width: 85px;height: 85px;object-fit: cover;border-radius: 50%; border: 3px solid white;box-shadow: 0 0 0 3px darksalmon;}
.tag-title
{}
.tag-title h1
{font-size: 54px;font-weight: 800;}
.tag-desc
{}
.tag-desc p
{}
.tag-desc p span
{}
.tag-desc p span.tag-desc-post
{}
.tag-desc p span.tag-desc-share
{margin-left: 20px;}
.tag-banner-tags-section
{border-top: 1px solid #f4f5f7;margin-top: 20px;}
.tag-banner-tags-inner
{width: 100%;padding: 12.5px 0;text-align: center;white-space: nowrap;overflow-x: auto;overflow-y: hidden;-webkit-overflow-scrolling: touch;}
.tag-link
{margin: 5px;display: inline-block;}
.tag-link a
{}
.tag-link h6
{font-weight: normal !important;}
/*Tag Banner CSS Ends*/

/*Grid Section CSS Starts*/
.grid-section
{margin: 35px 0px;}
.grid-title
{padding-left: 12.5px;}
.grid-title h3
{font-size: 20px;font-weight: 700;}
.grid-section .card
{display: block;padding: 12.5px;border: 0px;border-radius: 0px;background-color: transparent;}
.grid-section .card-inner
{background-color: #ffffff;/*border: 1px solid rgba(0,0,0,.125);*/overflow: hidden;-webkit-box-shadow: 0 2px 4px -2px rgba(33,33,33,.08);box-shadow: 0 2px 4px -2px rgba(33,33,33,.08);}
.grid-section .card-img
{}
.grid-section .card-img a
{display: block;margin: 0px;border-radius: 0px;}
.grid-section .card-img img
{width: 100%;height: 320px;object-fit: cover;border-radius: 0px;}
.grid-section .card-img a:hover img
{opacity: .8;}
.grid-section .card-body
{margin: 15px;padding: 0px;}
.grid-section .card-body
{height: 85px;overflow: hidden;}
.grid-section .card-body p
{color: #212121;font-size: 14px;line-height: 1.3rem;}
.grid-section .card-footer
{padding: 6px 15px 10px 15px;background-color: transparent;border-top: 1px solid #f4f5f7;}
.grid-section .card-footer-inner
{font-size: 12px;color: #767676;}
/*Grid Section CSS Ends*/

/*Tag Page CSS Ends*/

/*Single Page CSS Starts*/
.social-icons
{padding: 10px;border-bottom: 1px solid #f4f5f7;}
.card-header a:hover img
{opacity: .8;}
.card-main-img
{height: 600px;object-fit: cover;}
.single-post-tags
{display: inline-block;margin: 5px;}
/*Single Page CSS Ends*/

/*Title Bar CSS Starts*/
.titlebar {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f4f5f7;
}
.titlebar h3, .titlebar strong {
  font-weight: bold;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  width: auto;
  font-size: 15px;
  margin: 5px 0;
}
.titlebar p, .titlebar small {
  color: #212121;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-size: 12px;
}
/*Title Bar CSS Ends*/
.post-anchor
{
  color: #ff1744 !important;
}
.share-anchor
{
  color: #767676;
}
.share-anchor:hover
{
  text-decoration: none;
}
