<div *ngIf="loader">
  <app-loader></app-loader>
</div>
<div *ngIf="!loader">
  <app-topbar></app-topbar>
</div>
<div *ngIf="!loader">
  <app-banner></app-banner>
</div>
<!--<div class="container">-->
<!--  <div class="col-md-12 outer-col-12">-->
<!--    <app-editor-list></app-editor-list>-->
<!--  </div>-->
<!--</div>-->
<div class="container" *ngIf="!loader">
  <div class="col-md-12 outer-col-12">
    <app-trend-hashtag></app-trend-hashtag>
  </div>
</div>
<div class="container" *ngIf="!loader">
  <div class="col-md-12 outer-col-12">
    <app-popular-users></app-popular-users>
  </div>
</div>
<div class="container" *ngIf="!loader && posts">
  <div class="col-md-12 outer-col-12">
    <div infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="2000" (scrolled)="onScrollDown($event)" (scrolledUp)="onScrollUp($event)">
      <div class="col editor-choice-home">
        <div class="col grid-section">
          <h4>⚡ Top Posts</h4>
          <div class="row">
            <div *ngFor="let item of posts; let i = index" class="col-md-4 col-6" style="margin-top: 25px">
              <div class="card" style="border-radius: 0">
                <div class="card-inner">

                  <div class="card-img">
                    <a routerLink="/location/{{item.location.id}}/{{item.location.name}}" style="font-size: 11px; color: white; background: black; position: absolute; top: 12px; left: 12px; padding: 5px; z-index: 999" *ngIf="item.location"><fa-icon [icon]="faGlobeAmericas"></fa-icon> {{ item.location.name }}</a>

                    <fa-icon *ngIf="item.type === 'GraphSidecar'" [icon]="faClone" style="color: white; top: 15px; right: 15px; position: absolute;"></fa-icon>
                    <fa-icon *ngIf="item.type === 'video'" [icon]="faVideo" style="color: white; top: 15px; right: 15px; position: absolute;"></fa-icon>

                    <a routerLink="/single-post/{{item.postId}}"><img class="card-img-top" src="{{item.src}}" width="320" height="100%" alt="icon"></a>
                  </div>

                  <div class="card-body">
                    <small class="card-subtitle text-muted" style="font-size: 11px"><time>{{item.date*1000|dfnsFormatDistanceToNow:options}}</time></small>
                    <p class="card-text" style="font-size: 14px; color: #212121;">
                    <span [innerHTML]="item.content.substring(0, 100) | linkify: linkifyOptions"></span>
                    </p>
                  </div>

                  <div class="card-footer">
                    <div class="card-footer-inner">
                    <span style="font-size: 12px; color: #767676;">
                      <a class="share-anchor" href="javascript:void(0)" (click)="open(share, item.postId, item.content)"><fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;Share&nbsp;&nbsp;&nbsp;</a>
                      <fa-icon [icon]="faHeart"></fa-icon>&nbsp;{{item.likeCount | number}}&nbsp;&nbsp;&nbsp;
                      <fa-icon [icon]="faCommentAlt" class="hide-in-xs"></fa-icon>&nbsp;<span class="hide-in-xs">{{item.commentCount | number}}</span>&nbsp;&nbsp;
                    </span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-loader></app-loader>
    </div>
  </div>
</div>
<ng-template #share let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Share</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <a target="_blank" [href]="facebookSharer" class="btn btn-default btn-round facebook text-white"><fa-icon [icon]="faFacebookF"></fa-icon> Facebook</a>&nbsp;&nbsp;
        <a target="_blank" [href]="twitterSharer" class="btn btn-default btn-round twitter text-white"><fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="pinterestSharer" class="btn btn-default btn-round pinterest text-white"><fa-icon [icon]="faPinterestP"></fa-icon> Pinterest</a>&nbsp;&nbsp;
        <a target="_blank" [href]="tumblrSharer" class="btn btn-default btn-round tumblr text-white"><fa-icon [icon]="faTumblr"></fa-icon> Tumblr</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="vkSharer" class="btn btn-default btn-round vk text-white"><fa-icon [icon]="faVk"></fa-icon> Vk</a>&nbsp;&nbsp;
        <a target="_blank" [href]="redditSharer" class="btn btn-default btn-round reddit text-white"><fa-icon [icon]="faRedditAlien"></fa-icon> Reddit</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="telegramSharer" class="btn btn-default btn-round telegram text-white"><fa-icon [icon]="faTelegramPlane"></fa-icon> Telegram</a>&nbsp;&nbsp;
        <a target="_blank" [href]="whatsappSharer" class="btn btn-default btn-round whatsapp text-white"><fa-icon [icon]="faWhatsapp"></fa-icon> Whatsapp</a>
      </div>
    </div>
  </div>
</ng-template>
