.card-header
{
  display: none;
}
.card-img-top:hover
{
  cursor: pointer;
  opacity: 0.8;
}
.card-img-top
{
  border-radius: 0;
}
.grid-section .card-body
{
  margin-top: 5px;
}
.card-img-top
{
  height: 380px;
}
.btn-round
{
  border-radius: 36px;
}
.facebook
{
  background-color: #6283c5;
  border-color: #6283c5;
}
.facebook:hover
{
  background-color: #4267b2;
  border-color: #4267b2;
}
.twitter
{
  background-color: #4db5f5;
  border-color: #4db5f5;
}
.twitter:hover
{
  background-color: #1da1f2;
  border-color: #1da1f2;
}
.pinterest
{
  background-color: #f74d60;
  border-color: #f74d60;
}
.pinterest:hover
{
  background-color: #bd081c;
  border-color: #bd081c;
}
.tumblr
{
  background-color: #485f7c;
  border-color: #485f7c;
}
.tumblr:hover
{
  background-color: #35465c;
  border-color: #35465c;
}
.vk
{
  background-color: #6b8cb1;
  border-color: #6b8cb1;
}
.vk:hover
{
  background-color: #6b8cb1;
  border-color: #6b8cb1;
}
.reddit
{
  background-color: #86b2db;
  border-color: #86b2db;
}
.reddit:hover
{
  background-color: #5f99cf;
  border-color: #5f99cf;
}
.telegram
{
  background-color: #82c0f0;
  border-color: #82c0f0;
}
.telegram:hover
{
  background-color: #54a9eb;
  border-color: #54a9eb;
}
.whatsapp
{
  background-color: #4be083;
  border-color: #4be083;
}
.whatsapp:hover
{
  background-color: #25d366;
  border-color: #25d366;
}
@media screen and (max-width: 767px) {
  .container
  {
    padding-left: 0;
    padding-right: 0;
  }
  .outer-col-12
  {
    padding-left: 0;
    padding-right: 0;
  }
  .editor-choice-home
  {
    padding-left: 0;
    padding-right: 0;
  }
  .editor-choice-home h4
  {
    margin-top: 25px;
  }
  .editor-choice-home .col-6
  {
    padding-left: 5px;
    padding-right: 5px;
  }
}
