<div *ngIf="!loader"><app-topbar></app-topbar></div>
<div *ngIf="notFound">
  <div class="container">
    <div class="col-md-12 outer-col-12">
      <h4 class="text-center">@{{username}}</h4>
      <h1 class="text-center text-danger">No results found.</h1>
      <div class="container" *ngIf="!loader && posts">
        <div class="col-md-12 outer-col-12">
          <div infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="2000" (scrolled)="onScrollForMorePosts($event)" (scrolledUp)="onScrollUp($event)">
            <div class="col editor-choice-home">
              <div class="col grid-section">
                <h4>⚡ Top Posts</h4>
                <div class="row">
                  <div *ngFor="let item of posts; let i = index" class="col-md-4 col-6" style="margin-top: 25px">
                    <div class="card" style="border-radius: 0">
                      <div class="card-inner">
      
                        <div class="card-img">
                          <a routerLink="/location/{{item.location.id}}/{{item.location.name}}" style="font-size: 11px; color: white; background: black; position: absolute; top: 12px; left: 12px; padding: 5px; z-index: 999" *ngIf="item.location"><fa-icon [icon]="faGlobeAmericas"></fa-icon> {{ item.location.name }}</a>
      
                          <fa-icon *ngIf="item.type === 'GraphSidecar'" [icon]="faClone" style="color: white; top: 15px; right: 15px; position: absolute;"></fa-icon>
                          <fa-icon *ngIf="item.type === 'video'" [icon]="faVideo" style="color: white; top: 15px; right: 15px; position: absolute;"></fa-icon>
      
                          <a routerLink="/single-post/{{item.postId}}"><img class="card-img-top" src="{{item.src}}" width="320" height="100%" alt="icon"></a>
                        </div>
      
                        <div class="card-body">
                          <small class="card-subtitle text-muted" style="font-size: 11px"><time>{{item.date*1000|dfnsFormatDistanceToNow:options}}</time></small>
                          <p class="card-text" style="font-size: 14px; color: #212121;">
                          <span [innerHTML]="item.content.substring(0, 100) | linkify: linkifyOptions"></span>
                          </p>
                        </div>
      
                        <div class="card-footer">
                          <div class="card-footer-inner">
                          <span style="font-size: 12px; color: #767676;">
                            <a class="share-anchor" href="javascript:void(0)" (click)="open(share, item.postId, item.content)"><fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;Share&nbsp;&nbsp;&nbsp;</a>
                            <fa-icon [icon]="faHeart"></fa-icon>&nbsp;{{item.likeCount | number}}&nbsp;&nbsp;&nbsp;
                            <fa-icon [icon]="faCommentAlt" class="hide-in-xs"></fa-icon>&nbsp;<span class="hide-in-xs">{{item.commentCount | number}}</span>&nbsp;&nbsp;
                          </span>
                          </div>
                        </div>
      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <app-loader></app-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="userData.is_private">
  <div class="container">
    <div class="col-md-12 outer-col-12">
      <h4 class="text-center">@{{username}}</h4>
      <h1 class="text-center">This is a private profile. Please search again for public Instagram profiles.</h1>
    </div>
    <!-- <app-editor-list></app-editor-list> -->
    <div class="container" *ngIf="!loader && posts">
      <div class="col-md-12 outer-col-12">
        <div infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="2000" (scrolled)="onScrollForMorePosts($event)" (scrolledUp)="onScrollUp($event)">
          <div class="col editor-choice-home">
            <div class="col grid-section">
              <h4>⚡ Top Posts</h4>
              <div class="row">
                <div *ngFor="let item of posts; let i = index" class="col-md-4 col-6" style="margin-top: 25px">
                  <div class="card" style="border-radius: 0">
                    <div class="card-inner">
    
                      <div class="card-img">
                        <a routerLink="/location/{{item.location.id}}/{{item.location.name}}" style="font-size: 11px; color: white; background: black; position: absolute; top: 12px; left: 12px; padding: 5px; z-index: 999" *ngIf="item.location"><fa-icon [icon]="faGlobeAmericas"></fa-icon> {{ item.location.name }}</a>
    
                        <fa-icon *ngIf="item.type === 'GraphSidecar'" [icon]="faClone" style="color: white; top: 15px; right: 15px; position: absolute;"></fa-icon>
                        <fa-icon *ngIf="item.type === 'video'" [icon]="faVideo" style="color: white; top: 15px; right: 15px; position: absolute;"></fa-icon>
    
                        <a routerLink="/single-post/{{item.postId}}"><img class="card-img-top" src="{{item.src}}" width="320" height="100%" alt="icon"></a>
                      </div>
    
                      <div class="card-body">
                        <small class="card-subtitle text-muted" style="font-size: 11px"><time>{{item.date*1000|dfnsFormatDistanceToNow:options}}</time></small>
                        <p class="card-text" style="font-size: 14px; color: #212121;">
                        <span [innerHTML]="item.content.substring(0, 100) | linkify: linkifyOptions"></span>
                        </p>
                      </div>
    
                      <div class="card-footer">
                        <div class="card-footer-inner">
                        <span style="font-size: 12px; color: #767676;">
                          <a class="share-anchor" href="javascript:void(0)" (click)="open(share, item.postId, item.content)"><fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;Share&nbsp;&nbsp;&nbsp;</a>
                          <fa-icon [icon]="faHeart"></fa-icon>&nbsp;{{item.likeCount | number}}&nbsp;&nbsp;&nbsp;
                          <fa-icon [icon]="faCommentAlt" class="hide-in-xs"></fa-icon>&nbsp;<span class="hide-in-xs">{{item.commentCount | number}}</span>&nbsp;&nbsp;
                        </span>
                        </div>
                      </div>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-loader></app-loader>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loader">
  <app-loader></app-loader>
</div>
<div class="banner" *ngIf="userData && !userData.is_private && !loader && !notFound">
  <div class="col-md-6 text-center mr-auto ml-auto">
    <img src="{{userData.profile_pic_url}}" alt="" width="85px" style="border-radius: 50%; border: 3px solid white;  box-shadow: 0 0 0 3px darksalmon;">
    <br>
    <br>
    <h5><strong>{{userData.full_name}}</strong></h5>
    <p>
      <strong>@{{username}} </strong>{{userData.biography}}
    </p>
  </div>
</div>
<div class="col" style="background: white; padding-top: 15px; padding-bottom: 15px; font-size: 13px;" *ngIf="userData && !userData.is_private && !loader && !notFound">
  <div class="col-md-6 mr-auto ml-auto search-list">
    <div class="row text-center">
      <div class="col-md-3 col-3">
        <a href="#">
          <span><strong>{{userData.edge_owner_to_timeline_media.count | number}}</strong> Posts</span>
        </a>
      </div>
      <div class="col-md-3 col-3" style="color: black;">
        <!--a href="#" style="color: black;"-->
          <span><strong>{{userData.edge_followed_by.count | number}}</strong> Followers</span>
        <!--/a-->
      </div>
      <div class="col-md-3 col-3">
        <!--a href="#" style="color: black;"-->
          <span><strong>{{userData.edge_follow.count | number}}</strong> Following</span>
        <!--/a-->
      </div>
      <div class="col-md-3 col-3">
        <!--a href="#" style="color: black;"-->
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon> Share
        <!--/a-->
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container" *ngIf="userData && !userData.is_private && !loader && !notFound">
  <div class="">
    <div class="row">
        <div class="grid-title">
            <h3 class="text-capitalize"><fa-icon [icon]="faChartLine"></fa-icon> Statistics</h3>
        </div>
    </div>
  </div>
  <div class="" style="background: white; padding: 20px;margin-top: 10px;">
        <div class="titlebar">
            <h3>User Metrics</h3>
            <p> Metrics for instagram calculated by GramLens </p>
        </div>
    <div class="col">
      <div class="row" style="margin-top: 15px">
        <div class="row" style="width: 100%">
          <div class="col-4">
            <div class="">
              <h4 style="color: #00bee7; margin: 0;">{{engagementRate}}%</h4>
              <small style="color: #757575; font-size: 12px;">Engagement Rate</small>
            </div>
          </div>
          <div class="col-4">
            <div class="">
              <h4 style="margin: 0;">{{averageLikes | number}}</h4>
              <small style="color: #757575; font-size: 12px;">Avg Likes</small>
            </div>
          </div>
          <div class="col-4">
            <div class="">
              <h4 style="margin: 0;">{{averageComments | number}}</h4>
              <small style="color: #757575; font-size: 12px;">Avg Comments</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="!notFound && !userData.is_private && !loader && !notFound">
  <div class="row">
    <div class="grid-section" style="width: 100%">
      <div>

          <div class="grid-title" *ngIf="userData.edge_owner_to_timeline_media.edges.length > 0">
              <h3 class="text-capitalize"><img src="{{userData.profile_pic_url}}" alt="icon" width="25px" style="border-radius: 50%">&nbsp;&nbsp;{{username}} Posts</h3>
          </div>


      </div>
      <div infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="2000" (scrolled)="onScrollDown($event)" (scrolledUp)="onScrollUp($event)">
        <div class="row">

          <div *ngFor="let item of userData.edge_owner_to_timeline_media.edges; let i = index" class="col-md-4 col-6">

            <div class="card" style="border-radius: 0">
              <div class="card-inner">

                <div class="card-img">
                  <a routerLink="/location/{{item.node.location.id}}/{{item.node.location.slug}}" style="font-size: 11px; color: white; background: black; position: absolute; top: 12px; left: 12px; padding: 5px; z-index: 999" *ngIf="item.node.location !== null"><fa-icon [icon]="faGlobeAmericas"></fa-icon> {{ item.node.location.name }}</a>

                  <fa-icon *ngIf="item.node.__typename === 'GraphSidecar'" [icon]="faClone" style="color: white; top: 15px; right: 15px; position: absolute;"></fa-icon>
                  <fa-icon *ngIf="item.node.__typename === 'GraphVideo'" [icon]="faVideo" style="color: white; top: 15px; right: 15px; position: absolute;"></fa-icon>

                  <a routerLink="/single-post/{{item.node.id}}"><img class="card-img-top" src="{{item.node.display_url}}" width="320" height="100%" alt="icon"></a>
                </div>

                <div class="card-body">
                  <small class="card-subtitle text-muted" style="font-size: 11px"><time>{{(item.node.taken_at_timestamp*1000)|dfnsFormatDistanceToNow:options}}</time></small>
                  <p class="card-text" style="font-size: 14px; color: #212121;">
                    <span *ngFor="let caption of item.node.edge_media_to_caption.edges;" [innerHTML]="caption.node.text.substring(0, 100) | linkify: linkifyOptions">
                    </span>
                  </p>
                </div>

                <div class="card-footer">
                  <div class="card-footer-inner">
                    <span style="font-size: 12px; color: #767676;">
                      <a class="share-anchor" href="javascript:void(0)" (click)="open(share, item.node.shortcode, item.node.edge_media_to_caption.edges)"><fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;Share&nbsp;&nbsp;&nbsp;</a>
                      <fa-icon [icon]="faHeart"></fa-icon>&nbsp;{{item.node.edge_media_preview_like.count | number}}&nbsp;&nbsp;&nbsp;
                      <fa-icon [icon]="faCommentAlt" class="hide-in-xs"></fa-icon>&nbsp;<span class="hide-in-xs">{{item.node.edge_media_to_comment.count | number}}</span>&nbsp;&nbsp;
                    </span>
                  </div>
                </div>

              </div>
            </div>

          </div>


        </div>
      </div>
      <div *ngIf="userData === null || userData.edge_owner_to_timeline_media.edges.length < userData.edge_owner_to_timeline_media.count"><app-loader></app-loader></div>
    </div>
  </div>
</div>
<ng-template #share let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Share</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <a target="_blank" [href]="facebookSharer" class="btn btn-default btn-round facebook text-white"><fa-icon [icon]="faFacebookF"></fa-icon> Facebook</a>&nbsp;&nbsp;
        <a target="_blank" [href]="twitterSharer" class="btn btn-default btn-round twitter text-white"><fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="pinterestSharer" class="btn btn-default btn-round pinterest text-white"><fa-icon [icon]="faPinterestP"></fa-icon> Pinterest</a>&nbsp;&nbsp;
        <a target="_blank" [href]="tumblrSharer" class="btn btn-default btn-round tumblr text-white"><fa-icon [icon]="faTumblr"></fa-icon> Tumblr</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="vkSharer" class="btn btn-default btn-round vk text-white"><fa-icon [icon]="faVk"></fa-icon> Vk</a>&nbsp;&nbsp;
        <a target="_blank" [href]="redditSharer" class="btn btn-default btn-round reddit text-white"><fa-icon [icon]="faRedditAlien"></fa-icon> Reddit</a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <a target="_blank" [href]="telegramSharer" class="btn btn-default btn-round telegram text-white"><fa-icon [icon]="faTelegramPlane"></fa-icon> Telegram</a>&nbsp;&nbsp;
        <a target="_blank" [href]="whatsappSharer" class="btn btn-default btn-round whatsapp text-white"><fa-icon [icon]="faWhatsapp"></fa-icon> Whatsapp</a>
      </div>
    </div>
  </div>
</ng-template>
