.banner
{
  padding: 30px 0px;
  background-color: white;
  border-bottom: 1px solid #f4f5f7;
}
.card-header
{
  display: none;
}
.card-img-top:hover
{
  cursor: pointer;
  opacity: 0.8;
}
.card-img-top
{
  border-radius: 0;
}
.width-24
{
  width: 24%;
}
/*.card
{
  height: 525px;
}*/
.grid-section .card-body {
    margin-top: 5px;
}
.card-img-top
{
  height: 380px;
}
.footer-extra-padding
{
  padding: 10px 15px;
}
.btn-round
{
  border-radius: 36px;
}
.facebook
{
  background-color: #6283c5;
  border-color: #6283c5;
}
.facebook:hover
{
  background-color: #4267b2;
  border-color: #4267b2;
}
.twitter
{
  background-color: #4db5f5;
  border-color: #4db5f5;
}
.twitter:hover
{
  background-color: #1da1f2;
  border-color: #1da1f2;
}
.pinterest
{
  background-color: #f74d60;
  border-color: #f74d60;
}
.pinterest:hover
{
  background-color: #bd081c;
  border-color: #bd081c;
}
.tumblr
{
  background-color: #485f7c;
  border-color: #485f7c;
}
.tumblr:hover
{
  background-color: #35465c;
  border-color: #35465c;
}
.vk
{
  background-color: #6b8cb1;
  border-color: #6b8cb1;
}
.vk:hover
{
  background-color: #6b8cb1;
  border-color: #6b8cb1;
}
.reddit
{
  background-color: #86b2db;
  border-color: #86b2db;
}
.reddit:hover
{
  background-color: #5f99cf;
  border-color: #5f99cf;
}
.telegram
{
  background-color: #82c0f0;
  border-color: #82c0f0;
}
.telegram:hover
{
  background-color: #54a9eb;
  border-color: #54a9eb;
}
.whatsapp
{
  background-color: #4be083;
  border-color: #4be083;
}
.whatsapp:hover
{
  background-color: #25d366;
  border-color: #25d366;
}
@media screen and (max-width: 767px) {
  .card
  {
    height: 379px;
  }
  .width-24
  {
    width: 48.5%;
  }
  .width-24:nth-of-type(3)
  {
    margin-top: 5px;
    margin-left: 0 !important;
  }
  .width-24:nth-of-type(4)
  {
    margin-top: 5px;
  }
  .card-img-top
  {
    height: 205px;
  }
  .footer-extra-padding
  {
    padding: 10px 5px;
  }
  .hide-in-xs
  {
    display: none;
  }
}
